<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark top">
    <a class="navbar-brand vision-logo" href="/home">
      <img
        src="../../assets/images/vision-logo.png"
        alt="vision-logo"
        width="40px"
      />
    </a>
    <ul class="navbar-nav nav-item-group">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: true }"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/purchase"
          routerLinkActive="active-menu"
          [routerLinkActiveOptions]="{ exact: true }"
          >Purchase</a
        >
      </li>
    </ul>
  </nav>
</header>
