.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #565656;
  clear: left;
  font-size: small;
}
.text-center {
  text-align: center;
  padding: 15px;
  margin: 0px;
  color: #fff;
}
