.cart-container{
    min-height:600px;
    margin-top:60px;
}
.cart-title{
    margin:0 auto;
    display:block;
    text-align:center;
}
.cart-table thead{
    background-color: #ddd;
    
}
.cart-table {
    text-align: center;
}
.empty-cart {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}

.table-col-price {
    max-width: 12%;
    width: 12%;
} 
.table-col-number {
    max-width: 5%;
    width: 5%;
}
.table-col-edit {
    max-width: 7%;
    width: 7%;
}
.table-col-qnt {
    max-width: 12%;
    width: 12%;
}
.table-col-info {
    max-width: 315px;
    word-wrap: break-word;
}